# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
from urllib.request import urlopen

In [2]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions).

In [3]:
# Your code

#response = requests.get(url)
#results = response.json()
response = urlopen(url)
results = json.load(response)
results


flattened_data = json_normalize(results)

flattened_data1 = json_normalize(flattened_data.articles[0])
flattened_data1

<ipython-input-3-242bafc4e256>:10: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-3-242bafc4e256>:12: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.articles[0])

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,amount,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only
0,SA543A051-K11,XA PRO 3D CSWP - Chaussures de marche - navy b...,"[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]",salomon-xa-pro-3d-cswp-chaussures-de-running-s...,[{'path': 'spp-media-p1/24aed6f8666c3da28946e6...,Salomon,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",shoe,194 g,[],"74,95 €","52,45 €",False,False,False,False
1,VA213D02G-J11,OLD SKOOL - Baskets basses - lilac snow/true w...,"[27, 28, 29, 30, 31, 33, 34]",vans-old-skool-baskets-basses-lilac-snowtrue-w...,[{'path': 'spp-media-p1/ebd4cc16ac7a3acb8b9b62...,Vans,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",shoe,NaN,[],"49,95 €","34,95 €",False,False,False,False
2,AD116D103-A11,STAN SMITH UNISEX - Baskets basses - white/green,"[28, 28.5, 29, 30, 30.5, 31, 31.5, 32, 33.5, 34]",adidas-originals-stan-smith-unisex-baskets-bas...,[{'path': 'spp-media-p1/533a9766f3ec42bfaf2848...,adidas Originals,False,[],"[{'key': 'discountRate', 'value': '-25%', 'tra...",shoe,NaN,[],"54,95 €","41,15 €",False,False,False,False
3,JAN24K01Y-G12,JJELOGO BLOCKING HOOD - Sweat à capuche - tang...,"[8a, 10a, 12a, 14a, 16a]",jack-and-jones-junior-jjelogo-hood-sweatshirt-...,[{'path': 'spp-media-p1/1048e1b7f4484408b8b9d3...,Jack & Jones Junior,False,[],"[{'key': 'discountRate', 'value': '-25%', 'tra...",clothing,NaN,[],"34,95 €","26,35 €",False,False,False,False
4,NE214D07P-G11,Baskets basses - red,"[20, 21, 22.5, 23.5, 25, 26, 27.5]",new-balance-baskets-basses-red-ne214d07p-g11,[{'path': 'spp-media-p1/26fc362ad61337e396ea50...,New Balance,False,[],"[{'key': 'discountRate', 'value': '-35%', 'tra...",shoe,NaN,[],"44,95 €","29,15 €",False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,GU123F08V-Q11,DRESS - Robe d'été - jet black,"[7a, 8a, 10a, 12a, 14a, 16a]",guess-dress-robe-en-jersey-jet-black-gu123f08v...,[{'path': 'spp-media-p1/e6ecf4ff1c1e3bf8969a89...,Guess,False,[],"[{'key': 'discountRate', 'value': '-25%', 'tra...",clothing,NaN,[],"39,95 €","29,95 €",False,False,False,False
80,PU114D03M-K12,SMASH UNISEX - Baskets basses - star sapphire/...,"[21, 22, 23, 24, 25, 26, 27]",puma-smash-v2-sd-v-inf-baskets-basses-star-sap...,[{'path': 'spp-media-p1/9d4a17328d313aceac02fc...,Puma,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",shoe,NaN,[],"29,95 €","26,95 €",False,False,False,False
81,GU124G06D-Q11,TODDLER CORE - T-shirt imprimé - jet black,"[2a, 3a, 4a, 5a, 6a]",guess-logodreieck-t-shirt-imprime-gu124g06d-q11,[{'path': 'spp-media-p1/5c903f36373938d18d7df8...,Guess,False,[],"[{'key': 'discountRate', 'value': '-35%', 'tra...",clothing,NaN,[],"17,95 €","11,75 €",False,False,False,False
82,TH343F032-A11,LOBUCHE SULPHUR UNISEX - Veste coupe-vent - wh...,"[10a/12a, 12a/14a, 16a/18a, 5a/6a]",the-north-face-lobuche-sulphur-unisex-veste-co...,[{'path': 'spp-media-p1/ad44ad93a2cb4f9992d837...,The North Face,False,[],"[{'key': 'discountRate', 'value': '-25%', 'tra...",clothing,NaN,[],"64,95 €","48,95 €",False,False,False,False
83,GU123G0DK-A11,TODDLER CORE - T-shirt imprimé - true white,"[2a, 3a, 4a, 5a, 6a]",guess-toddler-core-t-shirt-imprime-gu123g0dk-a11,[{'path': 'spp-media-p1/eddd10d7cbf13bca9965ce...,Guess,False,[],"[{'key': 'discountRate', 'value': '-15%', 'tra...",clothing,NaN,[],"16,95 €","14,45 €",False,False,False,False

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [5]:
# Get the total number of pages
total_pages=results['pagination']['page_count']

# Your code
df=pd.DataFrame()

for i in range(total_pages):
    k=84*i
    url=f'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset={k}&sort=sale'
    response = urlopen(url)
    results = json.load(response)
    
    
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

<ipython-input-5-bc815035b583>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-5-bc815035b583>:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.articles[0])

In [6]:
df.head(1)

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount,condition,condition_key
sku,,,,,,,,,,,,,,,,,,,
C7643D040-Q11,LEGACY BASICS CREW NECK 2 PACK - T-shirt basiq...,"[3-4a, 5-6a, 7-8a, 9-10a, 11-12a, 13-14a, 15-16a]",champion-legacy-basics-crew-neck-2-pack-t-shir...,[{'path': 'spp-media-p1/5a03cacbd4f535a98053a5...,Champion,False,[],"[{'key': 'discountRate', 'value': '-35%', 'tra...",clothing,[],"13,95 €","9,10 €",False,False,False,False,NaN,NaN,NaN

#### Display the trending brand in DataFrame

In [8]:
df.brand_name.value_counts().index[0]

'Name it'

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [9]:
#Our data is still text. Convert prices into numbers:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

In [10]:
df.head(1)

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount,condition,condition_key
sku,,,,,,,,,,,,,,,,,,,
C7643D040-Q11,LEGACY BASICS CREW NECK 2 PACK - T-shirt basiq...,"[3-4a, 5-6a, 7-8a, 9-10a, 11-12a, 13-14a, 15-16a]",champion-legacy-basics-crew-neck-2-pack-t-shir...,[{'path': 'spp-media-p1/5a03cacbd4f535a98053a5...,Champion,False,[],"[{'key': 'discountRate', 'value': '-35%', 'tra...",clothing,[],13.95,9.10,False,False,False,False,NaN,NaN,NaN

In [11]:
df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)
df1=df.copy()

In [12]:
df1.head(1)

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount,condition,condition_key,discount_amount
sku,,,,,,,,,,,,,,,,,,,,
C7643D040-Q11,LEGACY BASICS CREW NECK 2 PACK - T-shirt basiq...,"[3-4a, 5-6a, 7-8a, 9-10a, 11-12a, 13-14a, 15-16a]",champion-legacy-basics-crew-neck-2-pack-t-shir...,[{'path': 'spp-media-p1/5a03cacbd4f535a98053a5...,Champion,False,[],"[{'key': 'discountRate', 'value': '-35%', 'tra...",clothing,[],13.95,9.10,False,False,False,False,NaN,NaN,NaN,4.85

In [13]:
total_disc=df1.groupby(['brand_name']).sum().discount_amount

In [14]:
total_disc.sort_values(ascending=False).index[0]

'Name it'

#### Display the brands without discount at all

In [15]:
total_disc[total_disc==0]

brand_name
24Bottles           0.0
3 Pommes            0.0
8848 Altitude       0.0
ALDO                0.0
Absorba             0.0
                   ...
Zadig & Voltaire    0.0
Ziener              0.0
anello              0.0
clic!               0.0
igi natur           0.0
Name: discount_amount, Length: 79, dtype: float64