# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [16]:
# your code here
api_url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=60'

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [14]:
# your code here
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
from urllib.request import urlopen

In [18]:
# your code here
response = urlopen(api_url)
results = json.load(response)

In [25]:
flattened_data = json_normalize(results)
flattened_data1 = json_normalize(flattened_data.articles[0])
flattened_data1.head(1)

<ipython-input-25-5e179408ba2d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-25-5e179408ba2d>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.articles[0])

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,outfits,amount
0,GO112O005-G11,HARRIER - Baskets basses - deep red/white,"[40, 41, 42, 43, 44, 45, 46]",gola-harrier-baskets-basses-go112o005-g11,[{'path': 'spp-media-p1/7d6a41c9f80c3e899c1056...,Gola,False,[],"[{'key': 'discountRate', 'value': '-50%', 'tra...",shoe,[],"84,95 €","42,45 €",False,False,False,False,NaN,NaN

In [26]:
total_pages=results['pagination']['page_count']
total_pages

428

In [27]:
df=pd.DataFrame()

for i in range(total_pages):
    k=84*i
    url = f'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset={k}'
    response = urlopen(url)
    results = json.load(response)
    
    
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

<ipython-input-27-0f44588ffe90>:10: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-27-0f44588ffe90>:11: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.articles[0])

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [28]:
# your code here
df.brand_name.value_counts().index[0]

'Jack & Jones'

In [29]:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)

In [30]:
df1=df.copy()

In [32]:
total_disc=df1.groupby(['brand_name']).sum().discount_amount

In [33]:
total_disc[total_disc==0]

brand_name
1904                 0.0
AIGNER               0.0
Alpina               0.0
Another Influence    0.0
Arc'teryx            0.0
                    ...
Theory               0.0
Tiger of Sweden      0.0
Tom Ford             0.0
Tretorn              0.0
Ziq and Yoni         0.0
Name: discount_amount, Length: 66, dtype: float64