# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
# your code here
url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=84'

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [7]:
# your code here
import json

import requests

import pandas as pd
from pandas.io.json import json_normalize

import urllib.request

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=84'

data = urllib.request.urlopen(url)
obj = json.load(data)

flatt_v = pd.json_normalize(obj)

flatt_1 = pd.json_normalize(flatt_v.articles[0])

total_pages = obj['pagination']['page_count']

df = pd.DataFrame()

for i in range(total_pages):
    k = 84 * i
    url = f'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset={k}'
    response = urllib.request.urlopen(url)
    results = json.load(response)
    flattened_data = pd.json_normalize(results)
    flattened_data1 = pd.json_normalize(flattened_data.articles[0])
    flattened_data1 = flattened_data1.set_index('sku')
    df = df.append(flattened_data1)
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35952 entries, TO122O08I-Q11 to TO722G0AB-Q11
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   name                                       35952 non-null  object
 1   sizes                                      35952 non-null  object
 2   url_key                                    35952 non-null  object
 3   media                                      35952 non-null  object
 4   brand_name                                 35952 non-null  object
 5   is_premium                                 35952 non-null  bool
 6   family_articles                            35952 non-null  object
 7   flags                                      35952 non-null  object
 8   product_group                              35952 non-null  object
 9   delivery_promises                          35952 non-null  object
 10  price.original                             35952 non-null  object
 11  price.promotional                          35952 non-null  object
 12  price.has_different_prices                 35952 non-null  bool
 13  price.has_different_original_prices        35952 non-null  bool
 14  price.has_different_promotional_prices     35952 non-null  bool
 15  price.has_discount_on_selected_sizes_only  35952 non-null  bool
 16  outfits                                    306 non-null    object
 17  amount                                     1162 non-null   object
 18  condition                                  205 non-null    object
 19  condition_key                              205 non-null    object
 20  price.base_price                           546 non-null    object
dtypes: bool(5), object(16)
memory usage: 4.8+ MB

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [8]:
# your code here
df.brand_name.value_counts().index[0]

'Tommy Hilfiger'

In [9]:
#Our data is still text. Convert prices into numbers:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

In [10]:
df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)
df1=df.copy()

In [11]:
total_disc=df1.groupby(['brand_name']).sum().discount_amount

In [12]:
total_disc.sort_values(ascending=False).index[0]

'Tommy Hilfiger'